@import "tailwindcss";

:root {
  --primary-bg-color-light: #f9f9ff;
  --primary-bg-color-dark: #101c32;

  --primary-text-color-light: #334f6c;
  --primary-text-color-dark: #f9f9ff;

  --primary-accent-light: #fdc938;
  --primary-accent-dark: #fdc93b;

  --link-color-light: #1e4c9d;
  --link-color-dark: #fdc93b;
}

body {
  background-color: var(--primary-bg-color-light);
  color: var(--primary-text-color-light);
}

body.dark-theme {
  background-color: var(--primary-bg-color-dark);
  color: var(--primary-text-color-dark);
}
